@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    height: 297mm;
    width: 210mm;
    margin: 0;
  }
}
@media screen {
  html {
    background-color: #181529;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%236d5b97' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%236d5b97'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    /* background by SVGbackgrounds.com */
  }

  body {
    width: 210mm;
    height: 297mm;
    margin: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
}
html {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14pt;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Alegreya Sans";
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

header, main, footer {
  padding: 1rem 1.5rem;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  background-color: #654EA3;
  text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}
header > * {
  color: #fff;
  text-decoration: none;
}
header > h1 {
  grid-row-end: span 3;
  line-height: 1.25;
  font-size: 3rem;
}
header > h1 ~ p {
  font-size: 1.1rem;
  margin: 0;
  justify-self: center;
}

.resume-section + .resume-section {
  margin-top: 2rem;
}

h2 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0.75rem;
}
h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-1px);
}

ul {
  padding: 0;
  margin: 0;
}
ul > li {
  margin-left: 22px;
}

#skills ul {
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(4, auto)/3fr 4fr;
  grid-column-gap: 1rem;
}
#skills li {
  margin-left: 22px;
}

#experience section, #education section {
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-content: start;
  grid-column-gap: 1rem;
  align-items: baseline;
}
#experience section .title, #education section .title {
  grid-column: 2;
  font-style: italic;
}
#experience section + section, #education section + section {
  margin-top: 0.5rem;
}

#languages article {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-column-gap: 1rem;
}
#languages p {
  grid-column: 2;
}

#extra li {
  margin-left: 22px;
}

footer {
  text-align: center;
  font-size: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
