#wishlist {
  grid-template: auto 1fr auto/minmax(auto, 1200px);
  grid-gap: 20px;
}

header {
  padding: 30px;
}

.wish-list {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 20px;
}
.wish-list .list-item {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /*  transition: 0.15s all ease-in-out;
      &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
    } */
}
.wish-list .list-item:first-child {
  animation: wiggle 2s ease-in-out 2s infinite;
}
.wish-list .list-item:hover, .wish-list .list-item.active {
  animation: boop 4s ease-in-out 0.1s infinite;
}
.wish-list .list-item.important {
  grid-area: 1/1/span 2/-1;
}
.wish-list .list-item.important > .link {
  outline: 6px solid red;
  outline-offset: -6px;
}
.wish-list .list-item.important > .link:hover::after {
  opacity: 0;
}
.wish-list .list-item .link {
  grid-template: "main" 1fr/1fr;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.wish-list .list-item .link:hover .image {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.wish-list .list-item .link:hover .overlay {
  transform: translateY(0);
}
.wish-list .list-item .image, .wish-list .list-item .overlay {
  grid-area: main;
}
.wish-list .list-item .overlay {
  transform: translateY(100%);
  transition: 0.3s all ease-in-out;
  text-shadow: 0 0 20px #000;
  padding: 20px;
  text-align: center;
}
.wish-list .list-item .overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.35;
  z-index: -1;
}
.wish-list .list-item .overlay .info {
  font-weight: 400;
}
.wish-list .list-item .overlay p {
  font-size: 0.75em;
  padding: 0 10px;
}
.wish-list .list-item .image {
  padding: 20px;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s all ease-in-out;
}
.wish-list .list-item .image#crucial-ram {
  background-image: url("../images/crucial-ram.png");
}
.wish-list .list-item .image#powerbank {
  background-image: url("https://swiatbaterii.pl/13926-thickbox_default/power-bank-green-cell-30000mah-szybkie-ladowanie.jpg");
  background-size: 460px;
}
.wish-list .list-item .image#pendrive {
  background-image: url("https://www.sandisk.com/content/dam/sandisk-main/en_us/assets/product/retail/DualDrive_TypeC-left_TypeCopen.png");
}
.wish-list .list-item .image#jbl-charge {
  background-image: url("../images/jbl-charge.png");
}
.wish-list .list-item .image#fenda {
  background-image: url("https://minido.pl/9626/glosniki-fenda-r30bt-bluetooth-nfc-2-0.jpg");
}
.wish-list .list-item .image#coffee-mill {
  background-image: url("../images/coffee-mill.png");
}
.wish-list .list-item .image#kettle {
  background-image: url("https://www.coffeedesk.pl/photos/products/normal/c85ad6be7e7e2ff3cb7ecefe0c3b8e01.jpg");
  background-size: cover;
}
.wish-list .list-item .image#pandemic-legacy {
  background-image: url("../images/pandemic-legacy.png");
}
.wish-list .list-item .image#pandemic-cthulhu {
  background-image: url("https://cf.geekdo-images.com/imagepagezoom/img/DoTV_qAgu4fU3HipIWIaqSa5k0c=/fit-in/1200x900/filters:no_upscale()/pic3124526.jpg");
}
.wish-list .list-item .image#zara-trench {
  background-image: url("../images/zara-trench.png");
}
.wish-list .list-item .image#love-letter {
  background-image: url("../images/love-letter.png");
}
.wish-list .list-item .image#twin-peaks {
  background-image: url("../images/twin-peaks.png");
}

@keyframes boop {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.03125);
  }
  20% {
    transform: scale(1);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  4% {
    transform: rotate(1deg);
  }
  7% {
    transform: rotate(-2deg);
  }
  12% {
    transform: rotate(0);
  }
}

/*# sourceMappingURL=wishlist.css.map */
